body{
    background: whitesmoke;
}

header {
    background: #fff;
    padding: 20px 0;
}

#logo{
    height: 100px;
    width: 100px;
    margin-left: 150px;
}

.caixa {
    position: relative;
    width: 100%;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 70px;
    right: 150px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 21px;

}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: #fff;
    margin: 0 1.5%;
    
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

#product{
    height: 150px;
    width: 150px;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
}